header {
  background-color: rgb(244, 79, 79);
  margin-bottom: 40px;  
}


h1 {
  color: rgb(255, 255, 255);
  margin-left: auto;
  margin-right: auto;
  text-align:center;
}



.parent {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  margin: 5px;
}

.contents {
  display: flex;
  flex-direction: column;
  flex-basis: 25%;
  border: solid 3px rgb(238, 204, 204);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 0px;
  margin-right: 0px;
}

.contents img{
  width: 70%;
  margin: 10px auto;

}

h2{
  text-align:center;
  font-size: 25px;
  border-bottom: dotted 3px rgb(236, 122, 122);
}

p {
  text-align:center;
  color: rgb(236, 122, 122);
}

.text-skyblue {
  font-weight: bold;
  color: rgb(97, 206, 249)
}

.text-rgb {
  color:rgb(239, 111, 139);
}



footer {
  color:rgb(244, 79, 79);
  text-align:center;
}
